# kubernetes-client ({{#info}}{{title}} {{version}}{{/info}})

| kubernetes-client method | HTTP Request |
| ------------------------ | ------------ |
{{#methods}}
| [{{#jsName}}{{/jsName}}](#{{#alphanumeric}}{{#jsName}}{{/jsName}}{{/alphanumeric}}) | {{method}} {{&path}} |
{{/methods}}

{{#methods}}
  {{> method}}
{{/methods}}
